<div>
  <% @exercises.each do |exercise| %>
  <% if exercise.muscle_targeted == "Abdominals" && "/exercise/abdominals" %>
    <div><a href="/exercise/:exercise"><%= exercise.name %></a> ||
    <%= exercise.muscle_targeted %> ||
    <%= exercise.rating %></div>
    <% end %>
  <% end %>
</div>

<div>
  <% @exercises.each do |exercise| %>
  <% if exercise.muscle_targeted == "Biceps"%>
    <div><a href="/exercise/:exercise"><%= exercise.name %></a> ||
    <%= exercise.muscle_targeted %> ||
    <%= exercise.rating %></div>
    <% end %>
  <% end %>
</div>

<!-- <div>
  <% @exercises.each do |exercise| %>
  <% if exercise.muscle_targeted == "Chest"%>
    <div><a href="/exercise/:exercise"><%= exercise.name %></a> ||
    <%= exercise.muscle_targeted %> ||
    <%= exercise.rating %></div>
    <% end %>
  <% end %>
</div>

<div>
  <% @exercises.each do |exercise| %>
  <% if exercise.muscle_targeted == "Forearms"%>
    <div><a href="/exercise/:exercise"><%= exercise.name %></a> ||
    <%= exercise.muscle_targeted %> ||
    <%= exercise.rating %></div>
    <% end %>
  <% end %>
</div>

<div>
  <% @exercises.each do |exercise| %>
  <% if exercise.muscle_targeted == "Glutes"%>
    <div><a href="/exercise/:exercise"><%= exercise.name %></a> ||
    <%= exercise.muscle_targeted %> ||
    <%= exercise.rating %></div>
    <% end %>
  <% end %>
</div>

<div>
  <% @exercises.each do |exercise| %>
  <% if exercise.muscle_targeted == "Hamstrings"%>
    <div><a href="/exercise/:exercise"><%= exercise.name %></a> ||
    <%= exercise.muscle_targeted %> ||
    <%= exercise.rating %></div>
    <% end %>
  <% end %>
</div>

<div>
  <% @exercises.each do |exercise| %>
  <% if exercise.muscle_targeted == "Lats"%>
    <div><a href="/exercise/:exercise"><%= exercise.name %></a> ||
    <%= exercise.muscle_targeted %> ||
    <%= exercise.rating %></div>
    <% end %>
  <% end %>
</div>

<div>
  <% @exercises.each do |exercise| %>
  <% if exercise.muscle_targeted == "Lower Back"%>
    <div><a href="/exercise/:exercise"><%= exercise.name %></a> ||
    <%= exercise.muscle_targeted %> ||
    <%= exercise.rating %></div>
    <% end %>
  <% end %>
</div>

<div>
  <% @exercises.each do |exercise| %>
  <% if exercise.muscle_targeted == "Middle Back"%>
    <div><a href="/exercise/:exercise"><%= exercise.name %></a> ||
    <%= exercise.muscle_targeted %> ||
    <%= exercise.rating %></div>
    <% end %>
  <% end %>
</div>

<div>
  <% @exercises.each do |exercise| %>
  <% if exercise.muscle_targeted == "Neck"%>
    <div><a href="/exercise/:exercise"><%= exercise.name %></a> ||
    <%= exercise.muscle_targeted %> ||
    <%= exercise.rating %></div>
    <% end %>
  <% end %>
</div>

<div>
  <% @exercises.each do |exercise| %>
  <% if exercise.muscle_targeted == "Quadriceps"%>
    <div><a href="/exercise/:exercise"><%= exercise.name %></a> ||
    <%= exercise.muscle_targeted %> ||
    <%= exercise.rating %></div>
    <% end %>
  <% end %>
</div>

<div>
  <% @exercises.each do |exercise| %>
  <% if exercise.muscle_targeted == "Shoulders"%>
    <div><a href="/exercise/:exercise"><%= exercise.name %></a> ||
    <%= exercise.muscle_targeted %> ||
    <%= exercise.rating %></div>
    <% end %>
  <% end %>
</div>

<div>
  <% @exercises.each do |exercise| %>
  <% if exercise.muscle_targeted == "Traps"%>
    <div><a href="/exercise/:exercise"><%= exercise.name %></a> ||
    <%= exercise.muscle_targeted %> ||
    <%= exercise.rating %></div>
    <% end %>
  <% end %>
</div>

<div>
  <% @exercises.each do |exercise| %>
  <% if exercise.muscle_targeted == "Triceps"%>
    <div><a href="/exercise/:exercise"><%= exercise.name %></a> ||
    <%= exercise.muscle_targeted %> ||
    <%= exercise.rating %></div>
    <% end %>
  <% end %>
</div>
 -->

