<div>
  <% @workouts.each do |workout| %>
    <div><%= workout.name %></div>
  <% end %>

  <% @routines.each do |routine| %>
    <div><%= routine.name %>
    Sets: <%= routine.sets %>
    Reps: <%= routine.reps %>
    Weight: <%= routine.weight %></div>
  <% end %>
</div>

<!-- <div>
  <% @exercises.each do |exercise| %>

    <div><a href="/exercise/:exercise"><%= exercise.name %></a> ||
    <%= exercise.muscle_targeted %> ||
    <%= exercise.rating %></div>
  <% end %>
</div>
 -->
<div><a href="/exercise/abdominals">Abdominals</a></div>
<div><a href="/exercise/biceps">Biceps</a></div>
<div><a href="/exercise/chest">Chest</a></div>
<div><a href="/exercise/forearms">Forearms</a></div>
<div><a href="/exercise/glutes">Glutes</a></div>
<div><a href="/exercise/hamstrings">Hamstrings</a></div>
<div><a href="/exercise/lats">Lats</a></div>
<div><a href="/exercise/lowerback">Lower Back</a></div>
<div><a href="/exercise/middleback">Middle Back</a></div>
<div><a href="/exercise/neck">Neck</a></div>
<div><a href="/exercise/quadriceps">Quadriceps</a></div>
<div><a href="/exercise/shoulders">Shoulders</a></div>
<div><a href="/exercise/traps">Traps</a></div>
<div><a href="/exercise/triceps">Triceps</a></div>

